<footer class="footer">
  <div class="footer-container">

    <div class="footer-section">
      <h2 routerLink="/" class="footer-home-link">
  🏥 MediCare
</h2>
      <p>
        Secure healthcare platform for patients, doctors,
        appointments, and medical records.
      </p>
    </div>

    <div class="footer-section">
      <h3>Services</h3>
      <ul>
        <li>Doctors</li>
        <li><a routerLink="/clinics">Clinics</a></li>
        <li>Diagnostics</li>
        <li>Appointments</li>
      </ul>
    </div>

    <div class="footer-section">
      <h3>Company</h3>
      <ul>
        <li><a routerLink="/about">About Us</a></li>
        <li><a routerLink="/contact">Contact Us</a></li>
        <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
        <li><a routerLink="/support">Support</a></li>
      </ul>
    </div>

  </div>

  <div class="footer-bottom">
    © 2026 MediCare. All Rights Reserved.
  </div>
</footer>